
.login-container {
    background-color: white;
    text-align: center;
    display: flex;
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px, rgba(0, 0, 0, 0.23) 0px 6px 6px 0px;
}


.login-form-container {
    padding-top: 30px;
    width: 100%;
}

.login {
    width: 90%;
    display: block;
    margin: 30px auto;
    height: 43px;
    border-radius: 20px;
    border: 1px solid #ccb0b6;
    padding-left: 20px;
    font-size: 13pt;
}

.login::placeholder {
    color: gray;
}

.password-toggle-button {
    position: absolute;
    font-size: 18px;
    margin-left: 160px;
    margin-top: -62px;
    color: gray;
    cursor: pointer;
}

span {
    font-size: 12.5pt;
}

#remember-user {
    margin-right: 10px;
    cursor: pointer;
    transform: scale(1.5);
}

#forgot-password {
    margin-left: 8%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(113, 11, 11);
}

#forgot-password:hover {
    color: brown;
}

.button-container {
    width: 87%;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#submit-login {
    height: 50px;
    font-size: 13.5pt;
    background-color: #FFC6D1;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.fa-lock {
    position: absolute;
    margin-top: 14px;
    margin-left: 30px;
    opacity: 0.8;
    font-size: 14pt;
}

#submit-login {
    width: 100%;
}

#submit-login:hover {
    background-color: #f99daf;
}

.to-user-signup{
    width: 85%;
    height: 50px;
    border-radius: 25px;
    border: none;
}
.to-user-signup:hover{
    cursor: pointer;
    opacity: 0.8;
}
.fas {
    font-size: 14pt;
    margin-right: 10px;
}