/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #FFD1C6;
    padding: 15px;
    z-index: 99;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;

    overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}

.item a,
.submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item i {
    font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
}

.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #FFD1C6;
    display: none;
}

.container2 {
    width: 96%;
    padding-bottom: 25vh;
}

.orderinfo h2 span {
    display: block;
    font-size: 14px;
    position: absolute;
    height: 30px;
    border: 1px solid #ddd;
    right: 40px;
    cursor: pointer;
    top: 15%;
    transform: translateY (-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.navbar,
.main {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
    
}

.sidebar.close~.navbar,
.sidebar.close~.main {
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: #858484;
}

.navbar .admin-control {
    position: relative;
    font-size: 12pt;
    display: flex;
}

.fa-user-circle {
    cursor: pointer;
    font-size: 18pt;
    margin-left: 20px;
}

.admin-action {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    margin-left: -165px;
    margin-top: 25px;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    list-style: none;
    text-align: left;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-action li {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
}

.admin-action li:hover {
    transition: all 0.3s ease-in-out;
    background-color: #FFC6D1;
}

.navbar #sidebar-close {
    cursor: pointer;
}

.main {
    position: relative;
    display: flex;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 11vh;
    z-index: 100;
    background: white;
}

.pagination-container {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.showing-status {
    margin-top: 40px;
    width: 30%;
}

.pagination-nav {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.pagination-nav .page-item {
    text-align: center;
    height: 40px;
    line-height: 2.5;
    border-radius: 5px;
    border: 1px solid #FFC6D1;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.control-button {
    text-align: center;
    height: 40px;
    line-height: 2.5;
    border-radius: 5px;
    width: 80px;
}

.control-button a {
    text-decoration: none;
    color: #000000;
}



.pagination-nav .page-item:hover,
.control-button:hover {
    cursor: pointer;
    background-color: #FFC6D1;
    transition-duration: 0.4s;
}

 a {
    text-decoration: none;
    color: black;
}

.stripped-row {
    background-color: #f8f1f1;
}

.view-and-search {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

/* .view-number {
    width: 40%;
}

#number-show {
    text-align: center;
    cursor: pointer;
    width: 35%;
    height: 30px;
    border-radius: 5px;
    font-size: 12pt;
} */

.search-box {
    width: 60%;
}

.search-box span {
    margin-right: 10px;
}

.search-term {
    height: 33px;
    padding-left: 14px;
    width: 40%;
    font-size: 12.5pt;
    border-radius: 5px;
    border: 1px solid gray;
}
.search_sub{
    width: 80px;
    height: 35px;
    font-size: 11pt;
    background-color:#FFC6D1;
    border: none;
    border-radius: 5px;
}
.search_sub:hover{
    cursor: pointer;
    background-color:#f99daf;
    transition-duration: 0.4s;
}
.table-container {
    width: 100%;
    margin-top: 20px;
}

.sorting {
    color: gray;
    cursor: pointer;
    margin-left: 4px;
}

.toggle-actived {
    color: black;
}